*.o
*.hi
*.aux
*.dvi
*.ps
*.x
*.y
*.log
*.bak
*.kate-swp
.directory
*.tex

Docadora.txt
Docadora.pdf
Absadora.hs
Layoutadora.hs
Lexadora.hs
Paradora.hs
Paradora.info
Printadora.hs
Skeladora.hs
Testadora.hs
ErrM.hs

readme.html
readme.pdf
Testadora
interpreter
parselib

.adora-history
StdLib.hs
.hpc
*.tix
coverage
optbuild
testbuild
