*.o
*.hi
*.aux
*.dvi
*.ps
*.x
*.y
*.log
*.bak
*.kate-swp
.directory
*.tex

Docadora.txt
Absadora.hs
Lexadora.hs
Paradora.hs
Paradora.info
Printadora.hs
Skeladora.hs
Testadora.hs
ErrM.hs

Readme.html
Makefile
Testadora
