*.o
*.hi
*.aux
*.dvi
*.ps
*.x
*.y
*.log
*.bak
*.kate-swp
.directory
*.tex

Docadora.txt
Docadora.pdf
Absadora.hs
Layoutadora.hs
Lexadora.hs
Paradora.hs
Paradora.info
Printadora.hs
Skeladora.hs
Testadora.hs
ErrM.hs

adora.html
adora.pdf
Testadora
interpreter
parselib

franciszek_boehlke
franciszek_boehlke.zip

.adora-history
StdLib.hs
franciszek_boehlke.tar.gz
.hpc
coverage
interpreter.tix
